.calendar {
    display: flex;
    
}

.container {
    display: grid;
    margin: 0;
    padding-right: 30px;
    grid-template-columns: repeat(3, 380px);
    gap: 15px;
}

.card {
    width: 379px;
    margin-right: 30px;
    margin-bottom: 120px;
  }

  .type {
    display: flex;
    padding: 15px;
  }